- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    %h4= restaurant.description
    %p= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)

- else
  No restaurants added yet

%br
%a(href='restaurants/new') Add a restaurant
